  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F9F7F1;
 } 

.title{
    padding: 0;
    margin: 0;
}

.btns{
    
}

.belowTitle{
    margin-top: 5%;
    text-align: center;
    color: black;
    font-style: helvetica;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}

.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

.rhsImg{
    height: 50%;
    margin-top: 20%;
}