  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: helvetica;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 } 

.title{
    padding: 0;
    margin: 0;
}

.btns{
    display : flex;
    justify-content: center;
    margin-top : 10%;
}

.btnOne{
    margin-top : 13%;
} 

.btnTwo{
    margin-top : 10px;
} 

.centerDescription{
    display: flex;
    justify-content: center;
}

.belowTitle{
    margin-top: 5%;
    text-align: center;
    color: black;
    font-size: 19px;
    width: 70%;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}

.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

.rhsImg{
    height: 50%;
    width: 70%;
    margin-top: 20%;
}

.footer{
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 5%;
    width: 100%;
    color: black;
    text-align: center;
}